@page "/about"
@layout MainLayout
@inject NavigationManager navigationManager

<h3 class="mb-4">About us</h3>

<p>
    Oman SOS is a charity organization which aims to help those people in need. You can reach us via next contact numbers:
</p>
<ul>
    <li>• 24714300</li>
    <li>• 24591974</li>
    <li>• 24423555</li>
    <li>• 24875630</li>
    <li>• 24845009</li>
</ul>
<MudButton Variant="Variant.Text" Color="Color.Primary" Size="Size.Large" FullWidth="true" Class="mt-8" OnClick="GoBack">
    Go Back
</MudButton>

@code {
    // Private Methods
    private void GoBack() => navigationManager.NavigateTo("/home");
}