@page "/help-campaign"
@layout MainLayout
@inject IDonationsService donationService
@inject ISnackbar snackbar
@inject NavigationManager navigationManager

<h3 class="mb-4">Help Campaign</h3>

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1">Title</MudText>
        <MudText Typo="Typo.body1"><strong>@campaign.Title</strong></MudText>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.subtitle1">Date</MudText>
        <MudText Typo="Typo.body1"><strong>@campaign.CampaignDate.ToString("dd MMM yyyy")</strong></MudText>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.subtitle1">Time</MudText>
        <MudText Typo="Typo.body1"><strong>@campaign.CampaignTime</strong></MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1">Description</MudText>
        <MudText Typo="Typo.body1">
            <strong>
                @campaign.Remarks
            </strong>
        </MudText>  
    </MudItem>
    <MudItem xs="12">
        <MudTextField 
            T="string" 
            @bind-Value="remarks" 
            Label="Remarks"
            Margin="Margin.Dense"
            Class="my-6"
            Variant="Variant.Outlined"
            Lines="3"/>
    </MudItem>
</MudGrid>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true" Class="my-3" OnClick="Submit">
    Yes, I want to participate
</MudButton>
<MudButton Variant="Variant.Text" Color="Color.Primary" Size="Size.Large" FullWidth="true" OnClick="GoBack">
    Go Back
</MudButton>

@code 
{
    // Properties
    CampaignViewModel campaign = new();
    string remarks { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetCampagin();
    }

    private async Task GetCampagin()
    {
        try
        {
            var response = await donationService.GetCampaign();

            if (response != null && response.Data != null)
            {
                campaign = response.Data;
            }
            else
            {
                snackbar.Add("Cannot get campaign", Severity.Error);
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    // Private Methods
    private void Submit()
    {
        snackbar.Add("Thank you for your participation", Severity.Success);
        StateHasChanged();
        new Timeout(() => navigationManager.NavigateTo("/donation-list"), 2000);
    }

    private void GoBack()
    {
        navigationManager.NavigateTo("/donation-list");
    }
}