@page "/make-donation/{CategoryId:int}"
@layout MainLayout
@inject NavigationManager navigationManager

<h3 class="mb-4">@(Title)</h3>

<MudTextField 
    T="decimal" 
    @bind-Value="amount" 
    Label="Amount in OMR"
    Margin="Margin.Dense"
    Class="my-6"
    Variant="Variant.Outlined" />
<MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true" Class="my-3" OnClick="Submit">
    Donate
</MudButton>
<MudButton Variant="Variant.Text" Color="Color.Primary" Size="Size.Large" FullWidth="true" OnClick="GoBack">
    Go Back
</MudButton>

@code 
{
    // Properties
    [Parameter] public int CategoryId { get; set; }
    string Title = string.Empty;
    decimal amount { get; set; } = 0.0M;

    // Lifecycle Methods
    protected override void OnInitialized()
    {
        switch (CategoryId)
        {
            case 4:
                Title = "Make donation for Corona Aid";
                break;
            case 5:
                Title = "Pay your Zakah";
                break;
            case 6:
                Title = "Pay your Fasting Fidyah";
                break;
            case 7:
                Title = "Make donation as a Sadaqa";
                break;
        }
    }

    // Private Methods
    private void Submit()
    {
        navigationManager.NavigateTo($"/payment/{CategoryId}/{amount}");
    }

    private void GoBack()
    {
        navigationManager.NavigateTo("/donation-list");
    }
}