@page "/payment/{CategoryId:int}/{Amount:decimal}"
@using FluentValidation
@layout MainLayout
@inject NavigationManager navigationManager
@inject IBrowserStorageService browserStorage
@inject IDonationsService donationsService

<h3 class="mb-4">Fill information in order to proceed payment</h3>

<MudPaper Class="pa-4">
    <MudForm>
        @if (alert.IsVisible)
        {
            <MudAlert Severity="alert.AlertType">@(alert.Message)</MudAlert>
        }
        <MudTextField 
            Value="Amount" 
            Label="Amount To Be Paid" 
            Margin="Margin.Dense"
            Class="my-6"
            Variant="Variant.Outlined" />
        <MudTextField 
            Value="cardHolder" 
            Label="Card Holder" 
            Margin="Margin.Dense"
            Class="my-6"
            Variant="Variant.Outlined"/>
        <MudTextField 
            @bind-Value="creditCardNr" 
            Validation="@ccValidator.Validation" 
            Immediate="true" 
            Label="Credit Card"
            Margin="Margin.Dense"
            Class="my-6"
            Variant="Variant.Outlined"/>
        <MudGrid Spacing="5">
            <MudItem xs="6">
                <MudTextField 
                    Value="expiryDate" 
                    Label="Expiry Date"
                    Margin="Margin.Dense"
                    Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="6">
                <MudTextField 
                    Value="cvc" 
                    Label="CVC" 
                    Margin="Margin.Dense"
                    Variant="Variant.Outlined"/>
            </MudItem>
        </MudGrid>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true" Class="my-3" OnClick="Submit">
            Pay
        </MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary" Size="Size.Large" FullWidth="true" OnClick="Cancel">
            Cancel
        </MudButton>
    </MudForm>
</MudPaper>

@code {
    [Parameter] public int CategoryId { get; set; }
    [Parameter] public decimal Amount { get; set; }
    private UserViewModel user { get; set; }
    AlertModel alert = new();
    string cardHolder { get; set; } = string.Empty;
    string creditCardNr = "4012 8888 8888 1881";
    string expiryDate = "10/26";
    string cvc = "123";
    bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        var loggedInUser = await browserStorage.GetItem<UserViewModel>("user");

        if (loggedInUser != null)
        {
            user = loggedInUser;
            cardHolder = user.Name;
        }
    }

    // The validation rules (overkill, I know, but very fluent):
    FluentValueValidator<string> ccValidator = new FluentValueValidator<string>(x => x
    .NotEmpty()
        .Length(1,100)
        .CreditCard());

    public class FluentValueValidator<T> : AbstractValidator<T>
    {
        public FluentValueValidator(Action<IRuleBuilderInitial<T, T>> rule)
        {
            rule(RuleFor(x => x));
        }

        private IEnumerable<string> ValidateValue(T arg)
        {
            var result = Validate(arg);
            if (result.IsValid)
                return new string[0];
            return result.Errors.Select(e => e.ErrorMessage);
        }

        public Func<T, IEnumerable<string>> Validation => ValidateValue;
    }

    // Private Methods
    private async Task Submit()
    {
        isLoading = true;
        StateHasChanged();

        try
        {
            var donation = new DonationViewModel
            {
                UserId = user.Id,
                Amount = Amount,
                CreatedBy = user.Name
            };

            var response = await donationsService.Add(donation);

            if (response == null)
            {
                isLoading = false;
                alert.Message = "Cannot send request";
                alert.AlertType = MudBlazor.Severity.Error;
                alert.IsVisible = true;
                StateHasChanged();
                return;
            }
            else if (response.StatusCode != HttpStatusCode.Created || response?.Data == null)
            {
                isLoading = false;
                alert.Message = response.Message;
                alert.AlertType = MudBlazor.Severity.Error;
                alert.IsVisible = true;
                StateHasChanged();
                return;
            }
            else
            {
                isLoading = false;
                alert.Message = "Thank you for your donation";
                alert.AlertType = MudBlazor.Severity.Success;
                alert.IsVisible = true;
                StateHasChanged();
                new Timeout(() => navigationManager.NavigateTo("/donation-list"), 2000);
                return;
            }
        }
        catch (Exception)
        {
            isLoading = false;
            alert.Message = "An error occurred while send new donation";
            alert.AlertType = MudBlazor.Severity.Error;
            alert.IsVisible = true;
            StateHasChanged();
            return;
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("/home");
    }
}
